@import './utils/variables';
@import './base/common';
@import './components/menu';
@import './components/button';
@import './components/modal';
@import './components/form';
@import './components/social-icons';
@import './components/social-icons-footer';
@import './components/form-send-footer';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/quality';
@import './layouts/occupation';
@import './layouts/team';
@import './layouts/client';


/* Footer */
footer {
    background-color: #2F303A;
}

.container-footer {
    padding-top: 60px;
    height: 252px;
    display: flex;
}

.logo-footer {
    color: $backlight-color;
}

.logo-two {
    color: $white-color;
}

.contacts-street {
    margin-top: 20px;
}

.contacts-list:not(:last-child) {
    margin-bottom: 9px;
}

.item-address .street {
    color: $white-color;
}

.contacts-footer {
    color: rgba(255, 255, 255, 0.6);            
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}

