@import './utils/variables';
@import './base/common';
@import './components/menu';
@import './components/button';
@import './components/modal';
@import './components/form';
@import './components/social-icons';
@import './components/social-icons-footer';
@import './components/form-send-footer';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/quality';
@import './layouts/occupation';
@import './layouts/team';

/* Client */
.client-item:not(:last-child) {
    margin-right: 30px;
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms $main-cubic-bezier;
}

.client-icon {
    fill: $primary-icon-color;
    transition: fill 250ms $main-cubic-bezier;
}

.client-link:hover,
.client-link:focus {
    border-color: $backlight-color;
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
    fill: $backlight-color;
}

.one {
    width: 45px;
    height: 50px;
}

.two {
    width: 40px;
    height: 52px;
}

.three {
    width: 41px;
    height: 43px;
}

.four {
    width: 80px;
    height: 42px;
}

.five {
    width: 59px;
    height: 47px;
}

.six {
    width: 89px;
    height: 46px;
}

/* Footer */
footer {
    background-color: #2F303A;
}

.container-footer {
    padding-top: 60px;
    height: 252px;
    display: flex;
}

.logo-footer {
    color: $backlight-color;
}

.logo-two {
    color: $white-color;
}

.contacts-street {
    margin-top: 20px;
}

.contacts-list:not(:last-child) {
    margin-bottom: 9px;
}

.item-address .street {
    color: $white-color;
}

.contacts-footer {
    color: rgba(255, 255, 255, 0.6);            
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}

